#articleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 6vh 3.5vw;
}
#articleContainer>a{
    text-decoration: none;
}
#articleContainer article{
    padding: 1vh 1vw 1vh 1vh;
    border: 1px solid blue;
    border-radius: 7px;

    transition: 650ms;
    opacity: 0.70;
}
#articleContainer article:hover{
    border-color: red;
    opacity: 1;
}


@media screen and (max-width: 600px){
    #articleContainer{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 400px){
    #articleContainer{
        grid-template-columns: 1fr;
    }
}