*{
    scroll-behavior: smooth;
}
#particles-js {
    position: absolute;
    opacity: 0.99;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header figure{
    z-index: 0;
    display: flex;
    justify-content: center;
}
header figure img{
    max-height: 75vh;
    max-width: 95vw;
}

section>p, section div>p{
    margin: 1.5vh 0 1.5vh 0;;
}
section h3,section h4{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.pixel{
    font-family: 'pixel';
}

/*
 *  +=========================+
 *  |       Project DIV       |
 *  °=========================°
 */

#project{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
}
#project div{
    border: 2px solid #fff;
    border-radius: 7px;

    display: block;
    position: relative;
    overflow: hidden;
    height: 250px;
}
#project div img{
    display: flex;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    transition: all 0.6s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#project div h4,#project div p{
    transition: opacity 0.6s;
    z-index: 2;
    color: #fff;
    opacity: 0.7;
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
}
#project div h4 {
    text-transform: uppercase;
    border-radius: 7px;
    background-color: black;

    text-align: center;
    font-weight: bold;
    margin-top: 20%;
}
#project div p {
    display: none;
}

#project div:hover {
    opacity: 1;
}
#project div:hover img{
    opacity: 0.3;
}
#project div:hover h4 {
    opacity: 1;
}
#project div:hover p {
    opacity: 1;
    display: block;
    font-weight: bolder;
}

@media screen and (min-width: 1500px){
    #project{
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #project div{
        height: 25vh;
    }
}
@media screen and (max-width: 1000px){
    #project{
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr;
    }
    #project div{
        height: 27vh;
    }
}
@media screen and (max-width: 500px){
    #project{
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr;
    }
}

/*
 *  +=========================+
 *  |   END Project DIV END   |
 *  °=========================°
 */