
progress{
    border-radius: 10px;
    overflow: hidden;
    /*
    *Comme on a la bordure exterieure qui est arondi
    *le remplissage dépasse donc hop on met 
    *le depassement en hidden plus propre
    */
    background-color: white;
    border: 1px solid grey;

    height: 5px;
    width: 90%;

    margin: 0 20px 7px 0;
}

h3{
    margin-left: 10px;
}

.entete_btn_titre{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.767);
}

article ul {
    margin: 0 20 0 20px;
}
article ul li span{
    color: blue;
}
article ul li ul li{
    list-style: none;
}
article ul li ul li:nth-last-child(2){
    /*selectionne le deuxieme element 
    en comptant du dernier element*/
    color: grey;
}

.conteneurSousArticle {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.sousArticle{
    width: 100%;
    /*margin: 10px;*/
    padding: 10px;
}
article{
    /*border: 3px solid red;*/
    margin: 10px;
}
article + article {
    padding: 10px;
}
article + article + article {
    padding: 10px;
}
.pastille{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: cadetblue;
}

/*tout en bas les Loisirs*/
article div p span{
    font-weight: bold;
}