footer{
    display: none;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    margin-top: 4vh;/*TEST*/
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1ch;
}
.blogpost{
    background-color: #4869ee3f;
    border: 1px solid #FB8C00;
    border-radius: 4px;
    width: calc(80vw / 5);
    height: 20vh;
    overflow: hidden;
}
.blogpost:hover{
    border: 1px solid #FF9800;
}
.blogpost h2{
    text-align: center;
    display: block;
}
.blogpost img{
    width: calc(80vw / 5);
    border-radius: 7px;
    opacity: 0.2;
}
.blogpost p{
    display: none;
}
.blogpost span{
    display: none;
}

.blogpost:hover img{
    transition-duration: 0.3s;
    opacity: 1;
}
.blogpost:hover h2{
    display: none;
}

/* 
    ╔════════════════════════════╗ 
    ║        Media Querry        ║
    ╚════════════════════════════╝
*/

@media screen and (max-width: 900px) {
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .blogpost{
        width: calc(80vw / 4);
        height: 15vh;
    }
    .blogpost img{
        width: calc(80vw / 4);
    }
}
@media screen and (max-width: 700px){
    section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blogpost{
        width: calc(80vw / 3);
        height: 15vh;
    }
    .blogpost img{
        width: calc(80vw / 3);
    }
}
@media screen and (max-width: 500px){
    section{
        grid-template-columns: 1fr 1fr;
    }
    .blogpost{
        width: calc(80vw / 2);
        height: 15vh;
    }
    .blogpost img{
        width: calc(80vw / 2);
    }
}
@media screen and (max-width: 400px){
    section{
        grid-template-columns: 1fr;
    }
    .blogpost{
        width: 80vw;
        height: 30vh;
    }
    .blogpost img{
        width: 80vw;
    }
}