/*
  Just for a halloween theme
*/
html{
  background-image: url("../img/halloween.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body{
  background-color: black;
  opacity: 0.8;
  font: normal 300 18px Lato, sans-serif;
  color: white;
}