*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: #041027;
    display: flex;
    flex-direction: column;
}
header{
    /*width: 100vw;
    height: 100vh;*/
    width: 100%;
    height: 100vh;

    background-color: #041027;
    background-image: 
        linear-gradient(
                rgba(0, 0, 0, 0.6), 
                rgba(0, 0, 0, 1)
            ), 
            url('../img/abstract-01_struct.png');
    background-size: cover;
}
#particles-js {
    position: absolute;
    opacity: 0.99;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}