body{
    background-color: #202326;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(80,0,0);
    width: 100vw;
    height: 5vh;
    margin-bottom: 2vh;
}
.contenuPage{
    display: flex;
    justify-content: space-evenly;
}
iframe{
    border-radius: 7px;
    min-height: 86vh;
    width: 80vw;
}
nav{
    background-color: #3B3F45;
    color: white;
    border-radius: 7px;
    width: 10vw;
    min-height: 86vh;
}
nav{
    list-style: none;
    text-align: center;
}
nav a{
    background-color: #525B61;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 7px;
    margin: 2vh 1vw 1vh 1vw;
    padding: 1vh 0 1vh 0;
}
nav a:hover{
    background-color: #D10000;
}
footer{
    background-color: rgb(40,40,40);
    width: 100vw;
    height: 5vh;
    margin-top: 2vh;
}