body{
    background-color: #2E3136;
    color: white;
    margin: 0;
}

a{
    border: 1px solid #99A6AD;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #99A6AD;
    border-color: #ffffff;
    color: #ffffff;
}

/*============================*/
/*          Formulaire        */
/*============================*/

#loger, form p:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
form p{
    margin: 1vh 1vw 2vh 1vw;
}
form label{
    font-size: larger;
    font-family: monospace;
}
form p input{
    border: 1px solid #99A6AD;
    background-color: #2E3136;
    color: #99A6AD;
}
#loger form p input[type="email"], p input[type="password"]{
    width: 18vw;
    height: 4vh;
}
#loger form p:not(:nth-child(3)) input:focus{
    box-shadow: 5px 5px 0 #99A6AD;
}
#loger form p:nth-child(3) input{
    padding: 1vh 1vw 1vh 1vw;
}
form p input[type="submit"]:hover{
    background-color: #99A6AD;
    border-color: #ffffff;
    color: #ffffff;
}