*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2E3136;
    font-family: monospace;
    color: #ffffff;
    display: grid;
}
input{
    font-family: monospace;
}
a{
    border: 1px solid #99A6AD;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #99A6AD;
    border-color: #ffffff;
    color: #ffffff;
}

/*Le formlaire de bas de page*/

form p input{
    border: 1px solid #99A6AD;
    background-color: #2E3136;
    color: #99A6AD;
}
form p #message:focus{
    width: 20vw;
}
form p input[type="text"]:focus{
    box-shadow: 5px 5px 0 #99A6AD;
}
form p input[type="submit"]{
    border: 1px solid #99A6AD;
    font-size: initial;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
}
form p input[type="submit"]:hover{
    background-color: #99A6AD;
    border-color: #ffffff;
    color: #ffffff;
}
/*===============================*/
/*=========Redfinition===========*/
/*===============================*/
.msgTchat{
    grid-area: tchat;
}
.formPost{
    grid-area: postZone;
}
.formPost form p:nth-child(1){
    background-color: red;
    grid-area: pseudo;
}
.formPost form p:nth-child(2){
    background-color: blue;
    grid-area: msg;
}
#logout{
    grid-area: logout;
}
@media screen and (max-width:900px){
}
@media screen and (min-width:900px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;
        grid-template-areas: 
        "tchat"
        "postZone";
    }
    .formPost form,.formPost{
        display: flex;
    }
    /*
    .formPost form{
        display: grid;
        grid-template-areas: 
        "pseudo msg logout";
    }*/

    /*
    .formPost form{
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
    }*/
}