body{
    background-color: #2E3136;
    font-family: monospace;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
input{
    font-family: monospace;
}
a{
    border: 1px solid #99A6AD;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #99A6AD;
    border-color: #ffffff;
    color: #ffffff;
}
/*
body>div{
    grid-area: tchat;
}
body .formPost{
    grid-area: formPost;
}
*/
@media screen and (max-width:900px){
    body{
        background-color: #2E3136;
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: monospace;
        padding: 0;
        margin: 0;
    }

    /*------------------------------*/

    .formPost{
        min-width: 38vw;
        font-size: large;
    }

    form p{
        margin: 1vh 1vw 2vh 1vw;
    }
    form p input{
        border: 1px solid #99A6AD;
        background-color: #2E3136;
        color: #99A6AD;
    }
    form p input[type="text"]:focus{
        box-shadow: 5px 5px 0 #99A6AD;
    }
    form p input[type="submit"]:hover{
        background-color: #99A6AD;
        border-color: #ffffff;
        color: #ffffff;
    }

    /*------------------------------*/

    .msgTchat{
        padding: 0 1vw 0 1vw;
        width: 60vw;
        height: 100vh;
        overflow: hidden;
    }
    .msgTchat p{
        margin: 0.5vh 0.5vw 0.5vh 0.5vw;
        border: 1px solid #99A6AD;
        padding: 1vh 1vw 1vh 1vw;
        overflow: hidden;
    }
    .datation{
        float: right;
        font-size: xx-small;
        margin-top: 1vh;
    }

}

@media screen and (min-width:900px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    body>div{
        height: 90vh;
        overflow: hidden;
    }
    .formPost{
        background-color: #2E3136;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /*line-height: 10vh;*/
        height: 10vh;
    }

    /*----------------------------------*/
    /*  Le formulaire de bas de page    */
    /*----------------------------------*/

    .formPost form{
        display: flex;
        justify-content: space-evenly;
        width: 70vw;
    }
    form p input{
        border: 1px solid #99A6AD;
        background-color: #2E3136;
        color: #99A6AD;
    }
    form p #message:focus{
        width: 20vw;
    }
    form p input[type="text"]:focus{
        box-shadow: 5px 5px 0 #99A6AD;
    }
    form p input[type="submit"]{
        border: 1px solid #99A6AD;
        font-size: initial;
        padding: 1vh 1vw 1vh 1vw;
        color: white;
    }
    form p input[type="submit"]:hover{
        background-color: #99A6AD;
        border-color: #ffffff;
        color: #ffffff;
    }

    /*----------------------------------*/
    /*               Le tchat           */
    /*----------------------------------*/

    .msgTchat{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1vw 0 1vw;
        width: 98vw;
        overflow: hidden;
    }
    .msgTchat p{
        margin: 0.5vh 0.5vw 0.5vh 0.5vw;
        border: 1px solid #99A6AD;
        padding: 1vh 1vw 1vh 1vw;
        overflow: hidden;
    }
    .datation{
        float: right;
        font-size: xx-small;
        margin-top: 1vh;
        color: #99A6AD;
    }
}