body{
    display: flex;
    justify-content: space-between;
}
div{
    min-width: 48vw;
}
#message{
    width: 60%;
}
.msgTchat{
    padding: 1vw;
    border-left: 1px solid white;
}
.datation{
    float: right;
    font-size: xx-small;
}
.msgTchat p{
    margin: 0 0 5px 0;
    padding: 2% 1% 2% 1%;
    border-radius: 5px;
    background-color: #D10000;
    overflow: hidden;
}
.msgTchat .datation{
    margin-top: 3px;
}